* {
    text-rendering: optimizeLegibility;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: inherit;
}

/** Top navigation bar started here */

.top-nav-container {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0;
    background-color: rgb(0, 113, 150);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-nav {
    flex: 0 0 50%;
    height: 50px;
    padding: 10px 5%;
    background-color: rgb(0, 113, 150);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.logo-link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.top-nav-icon {
    width: 50px;
    height: 40px;
    margin-top: 5px;
}

.logo-link > p {
    color: rgb(231, 231, 231);
    width: 110px;
    margin: 5px 5px;
}

.nav-middleSide, .nav-rightSide {
    margin-top: 5px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    cursor: pointer;
}

.search-label {
    color: white;
    font-family: inherit;
    border: 1px solid white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
    background-color: transparent;

    width:auto;
    height: 20px;
    padding: 10px;
}

.nav-search-input {

    width:260px;
    height: 20px;
    padding: 10px 35px 10px 10px;
    border: 1px solid white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
    background-color: rgb(231, 231, 231);
    font-family: inherit;
    font-size: 17px;

    transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.nav-middleSide > .fas {
    position: relative;
    left: -30px;
    top: 13px;
}

.nav-search-input:active,
.nav-search-input:focus {
    background-color: white;
}

.nav-right-link {
    margin: 10px 15px;
    color: rgb(231, 231, 231);
    text-decoration: none;
    font-family: inherit;
    font-size: 18px;

    transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.nav-right-link:hover,
.nav-right-link:active,
.logo-link > *:hover,
.logo-link > *:active,
.nav-right-user-link:hover,
.nav-right-user-link:active,
.nav-user > .fas:hover,
.nav-user > .fas:active {
    color: white;
}

.nav-user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-user-mini-img {
    width: 45px;
    height: 45px;
    margin: 0 5px;
    border-radius: 2px;
}

.nav-user-detail {
    width: 80px;
    font-size: 12px;
    margin: 0;
}

.nav-right-user-link {
    display: inherit;
    justify-content: space-between;
    color: rgb(231, 231, 231);
    text-decoration: none;
    font-family: inherit;
    font-size: 18px;

    transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.nav-user-detail {
    margin-right: 10px;
}

.nav-user > .fas, .far {
    color: rgb(231, 231, 231);
    font-size: 40px;
    margin: 0 5px;
    border-right: 1px solid white;
    padding-right: 20px;
    transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.far {
    color: white;
}

.popover {

    position: absolute;
    display: none;
    width: 350px;
    min-height: 300px;
    height: auto;
    margin: 60px 0px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    overflow: scroll;
    z-index: 1;
}

.popover-title {
    color: #007196;
    text-align: center;
    margin: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid lightgray;
}

.popover-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-message {
    width: 100%;
    color: #a8a8a8;
    overflow: hidden;
    align-self: center;
    margin: 5px auto;
}

.user-message > a {
    text-decoration: none;
    color: #007196;
    margin-bottom: 0;
    padding-bottom: 0;
}

.user-message > p {
    margin-top: 3px;
    font-size: 13px;
}

.popover-content-container > .user-message:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}

@media screen and (max-width:450px) {
    .top-nav {
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .search-label {
        font-size: 13px;
        padding: 5px 10px 15px 10px;
    }
    .nav-search-input {
        width: 55%;
    }
    .nav-user {
        align-self: center;
    }
    .nav-right-link > span {
        display: none;
    }
    .nav-right-link {
        font-size: 40px;
        margin: 0 auto 0 10px;
    }
    .nav-middleSide, .nav-rightSide {
        margin-top: 8px;
    }
    .popover {
        margin-left: -14px;
        width: calc(90%);
    }
}

.logged-out {
    display: none;
}


/** Top navigation bar ended here */