* {
    text-rendering: optimizeLegibility;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

/** BODY & CONTAINER START HERE */
body {
    width: 99vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: inherit;
}

/** Top navigation bar started here */

.top-nav-container {
    width: 100vw;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0;
    background-color: rgb(0, 113, 150);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-nav {
    width: 60%;
    height: 40px;
    padding: 10px 5%;
    background-color: rgb(0, 113, 150);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.logo-link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.top-nav-icon {
    width: 50px;
    height: 40px;
}

.logo-link > p {
    color: rgb(231, 231, 231);
    width: 110px;
    margin: 0 5px 0 0;
}
.nav-leftSide {
    margin-right: 15px;
}

.nav-middleSide, .nav-rightSide {

    margin-right: 15px;
    height: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    cursor: pointer;
}

.search-label {
    color: white;
    font-family: inherit;
    border: 1px solid white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
    background-color: transparent;

    width:6vw;
    padding: 8px;
    align-self: center;
}

.nav-search-input {

    width:auto;
    padding: 8px 35px 6.5px 10px;
    border: 1px solid white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
    background-color: rgb(231, 231, 231);
    font-family: inherit;
    font-size: 17px;
    outline: 0;
    align-self: center;

    transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}


.nav-middleSide > .fas {
    position: relative;
    left: -30px;
    top: 13px;
}

.nav-search-input:active,
.nav-search-input:focus {
    background-color: white;
}

.nav-right-link {
    margin: 10px 5px;
    color: rgb(231, 231, 231);
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;

    transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.nav-right-link:hover,
.nav-right-link:active,
.logo-link > *:hover,
.logo-link > *:active,
.nav-right-user-link:hover,
.nav-right-user-link:active,
.nav-user > .fas:hover,
.nav-user > .fas:active {
    color: white;
}

.nav-user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-user-mini-img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 2px;
}

.nav-user-detail {
    width: 80px;
    font-size: 11px;
    margin: 0;
}

.nav-right-user-link {
    display: inherit;
    justify-content: space-between;
    color: rgb(231, 231, 231);
    text-decoration: none;
    font-family: inherit;
    font-size: 18px;

    transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.nav-user > .fas, .far {
    color: rgb(231, 231, 231);
    font-size: 40px;
    margin: 0 5px;
    border-right: 1px solid white;
    padding-right: 20px;
    transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.far {
    color: white;
}

.popover {

    position: absolute;
    display: none;
    width: 350px;
    min-height: 300px;
    height: auto;
    margin: 60px 0px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    overflow: scroll;
    z-index: 1;
}

.popover-title {
    color: #007196;
    text-align: center;
    margin: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid lightgray;
}

.popover-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-message {
    width: 100%;
    color: #a8a8a8;
    overflow: hidden;
    align-self: center;
    margin: 5px auto;
}

.user-message > a {
    text-decoration: none;
    color: #007196;
    margin-bottom: 0;
    padding-bottom: 0;
}

.user-message > p {
    margin-top: 3px;
    font-size: 13px;
}

.popover-content-container > .user-message:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}
/** Top navigation bar ended here */

/** MAIN STATIC CONTAINER */
.static-container {
    width: 60%;
    height: auto;
    min-height: 77vh;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 15px 3px #e9e9e9;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
    display: -webkit-flex; /* Safari */
    flex-flow: column wrap;
    align-items: center;
}

/** FOOTER START HERE */

.footer {
    width: 60%;
    margin: 0 auto;
    height: auto;
    background-color: white;
    border-top: 0.1px solid #007196;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.upperPart {
    width: 90%;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.header {

    align-self: flex-start;

    width: 300px;
    margin: 10px 0;
    font-family: inherit;
    color: gray;
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items: center;
    text-align: center;
}

.header > img {
    width: 45px;
    height: 45px;
}

.link-container {

    align-self: center;
    width: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 113, 150);
    margin: 8px 10px;
}

.links::after,
.sign > a::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    bottom: -3px;
    background: #0776B7;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.links:active::after,
.links:hover::after,
.sign > a:hover::after,
.sign > a:active::after {
    left: 0;
    right: auto;
    width: 100%;
}

.social-media {
    align-self: center;

    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: row;
    justify-content: space-between;
}

.media-link {
    color: grey;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
}

.sign {
    font-size: 13px;
    text-align: center;
    color: #808080;
    margin-bottom: 10px;
}

.sign > a {
    position: relative;
    color: rgb(0, 113, 150);
    text-decoration: none;
}
/** FOOTER END */

/** GENERAL TOOLS */
.seperator {
    border-right: 1px solid white;
    padding-right: 13px;
}

.margin-seventy {
    margin-right: 70px;
}

.margin-right-zero {
    margin-right: 0;
}

.hide {
    display: none;
}
/** GENERAL TOOLS END */

/** RESPONSIVE PART */
/* ----------- Non-Retina Screens ----------- */
@media (min-width: 320px) and (max-width: 480px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */
    .top-nav {
        width: 90%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .search-label {
        width: auto;
        font-size: 13px;
        padding: 9.7px 5px;
    }
    .nav-search-input {
        width: 55%;
    }
    .nav-user {
        align-self: center;
    }
    .nav-right-link > span {
        display: none;
    }
    .nav-right-link {
        font-size: 20px;
        margin: auto 5px;
    }
    .nav-middleSide, .nav-rightSide {
        margin: 8px auto;
        justify-content: end;
    }
    .popover {
        margin-left: -14px;
        width: calc(90%);
    }

    .static-container {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
    .upperPart {
        flex-direction: column;
        align-items: center;
    }
    .header {
        width: auto;
    }
    .link-container {
        flex-flow: row wrap;
        justify-content: center;
    }
    .links {
        font-size: 12px;
        flex: 0 0 auto;
    }
}
@media (min-width: 481px) and (max-width: 767px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}
@media (min-width: 768px) and (max-width: 1024px) {
    
}

@media (min-width: 1025px) and (max-width: 1280px) { 
    /* big landscape tablets, laptops, and desktops */ 
    .links {
        width: auto;
        margin: 3px;
    }
}
@media (min-width: 1281px) { 
    /* hi-res laptops and desktops */ 
}