<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- External font icons link -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
        <link href="../resources/css/template.css" rel="stylesheet">
    </head>
    <body>
        <img src="../resources/images/error-background.jpg" alt="no background image" id="master-background">
        <!-- Body fixed container -->
        <div class="error-container">
            <div id="error-holder">
                <div class="error-code">404</div>
                <div class="error-message">
                    Lorem impsum dolor sit amet lorem impsum dolor sit amet !Lorem impsum dolor sit amet lorem impsum dolor sit amet !Lorem impsum dolor sit amet lorem impsum dolor sit amet !Lorem impsum dolor sit amet lorem impsum dolor sit amet !
                </div>
                <div class="button-container">
                    <button type="button" class="postSuggestion-button" id="firs-btn" onclick="window.location.href='Suggestion'">
                        <i class="fas fa-paper-plane"></i> &nbsp;Send feedback
                    </button>
                    <button type="button" class="postSuggestion-button"  onclick="window.history.back();">
                        <i class="fas fa-angle-double-left"></i> &nbsp;Go to back
                    </button>
                </div>
                <div class="error-footer">
                        <p class="sign">
                            <img src="../resources/images/Jac-nav-logo.png" id="error-mini-logo"> Java Arabic Community | © Copyright by <a href="https://github.com/Coder-ACJHP/">Coder ACJHP</a> - All Rights Reserved
                        </p>
                </div>
            </div>
        </div>
    </body>
</html>