<div class="top-nav-container">
    <div class="nav-bar" id="">
        <a href="#" class="nav-name">
            <img class="nav-img" src="../resources/images/Jac-nav-logo.png" alt="no icon">
            <p>Java Arabic Community</p>
        </a>
        <button class="toggler-btn" id="">
            <img class="nav-img-toggle" src="../resources/images/toggler-button.png" alt="no icon">
        </button>
        <div id="collapsibleNavbar" style="display: none;">
            <div class="nav-middleSide">
                <label for="nav-middleSide" class="search-label">Search : </label>
                <input type="text" name="queryText" id="search-input" class="nav-search-input">
                <i class="fas fa-search" title="Search"></i>
            </div>
            <div class="nav-rightSide">
                <div class="nav-user">
                    <a href="#" class="nav-right-user-link" title="Show profile">
                        <img src="../resources/images/user.jpg" alt="profile img" class="nav-user-mini-img">
                        <p class="nav-user-detail">
                            Coder ACJHP 12.12.2018
                            <i class="fas fa-star" id="user-star"></i>25
                        </p>
                    </a>
                    <i class="fas fa-envelope" title="Message box" id="trigger"></i>
                </div>
                <a href="#" class="nav-right-link" title="Register">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Sign out</span>
                </a>
            </div>
            </ul>
        </div>
    </div>
    <!-- Logged in navbar -->
    <div class="top-nav">
        <div class="nav-leftSide">
            <a href="#" class="logo-link" title="Home">
                <img src="../resources/images/Jac-nav-logo.png" alt="no logo" class="top-nav-icon">
                <p>Java Arabic Community</p>
            </a>
        </div>
        <div class="nav-middleSide">
            <label for="nav-middleSide" class="search-label">Search : </label>
            <input type="text" name="queryText" id="search-input" class="nav-search-input">
            <i class="fas fa-search" title="Search"></i>
        </div>
        <div class="nav-rightSide">
            <div class="nav-user">
                <a href="#" class="nav-right-user-link" title="Show profile">
                    <img src="../resources/images/user.jpg" alt="profile img" class="nav-user-mini-img">
                    <p class="nav-user-detail">
                        Coder ACJHP 12.12.2018
                        <i class="fas fa-star" id="user-star"></i>25
                    </p>
                </a>
                <i class="fas fa-envelope" title="Message box" id="trigger"></i>
            </div>
            <a href="#" class="nav-right-link" title="Register">
                <i class="fas fa-sign-out-alt"></i>
                <span>Sign out</span>
            </a>
        </div>
    </div>
    <div id="popover-container">
        <div class="popover-arrow"></div>
        <div class="popover" role="tooltip" id="popover">
            <h3 class="popover-title">MESSAGE BOX</h3>
            <div class="popover-content-container">
                <div class="user-message">
                    <a href="#">
                        Lorem ipsum dolor sit amet consectetur !
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="user-message">
                    <a href="#">
                        Lorem ipsum dolor sit amet consectetur !
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="user-message">
                    <a href="#">
                        Lorem ipsum dolor sit amet consectetur !
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>